.colmask {
  position:relative; /* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%; /* width of whole page */
  min-height: 100%;
  overflow:hidden; /* This chops off any overhanging divs */
}

/* common column settings */
.colleft,
.colright,
.colmid {
  float:left;
  width:100%;
  position:relative;
}

.leftmenu {
}

.leftmenu .colleft {
  right:75%;      /* right column width */
}
.leftmenu .col1 {
  width:75%;      /* right column content width */
  left:100%;      /* 100% plus left column left padding */
}
.leftmenu .col2 {
  width:21%;      /* left column content width (column width minus left and right padding) */
  left:1%;      /* (right column left and right padding) plus (left column left padding) */
}

.col1, .col2, .col3 {
  float:left;
  overflow:hidden;
  position:relative;
}
