html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ol { list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


 /* Primary Styles
    Author: 
 */

html, body {
  height: 100%;
}

body > header {
  text-align: center;
  padding: 0.4em;
}

h1 { font-size: 1.2em;}
h2 { font-size: 1.1em;}

p {
  margin-bottom: 1.2em;
  line-height: 1.3em;
}

#navigation {
  padding: 0.2em;
  height: 3em;
}

#navigation .colleft {
  background-color: transparent;
}

#navigation h1 {
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
}

#navigation nav {
  padding: 0.5em;
}

#main {
  position: relative;
  min-width: 800px;
  min-height: 100%;
}

#main .colleft .col1 {
  height: 100%;
  min-height: 500px;
}

#container footer {
  clear: both;
  float: left;
  width: 100%;
}

.content {
  position: relative;
}

.content .tab {
  position: absolute;
  width: 100%;
  height: 100%;
}


.sidebar,
.sidebar article, 
.sidebar aside {
  padding: 1em;
  margin-bottom: 1em;
}

.sidebar ul li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  list-style-position: inside;
}

.clues h1 {
  font-weight: bold;
  font-family: "Evil Genius Bold";
}


article.dialog {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  top: 4em;
  bottom: 4em;
  left: 4em;
  right: 4em;
  padding: 2em;
  overflow: auto;
}

article.dialog .content {
  height: auto;
  position: relative;
  top: 1em;
  bottom: 6em;
}

article.dialog .multimedia {
  float: right;
  margin: 2em;
}

.multimedia img {
  border: 1px solid #CCC;
  padding: 0.7em 0.7em 2.4em;
  background-color: #FFF;
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: 0 3px 5px rgba(0,0,0,0.25);
}

.assistive {
  position: absolute;
  text-indent: -9999px;
  width: 1px;
  height: 1px;
  display: inline;
  overflow: hidden;
}


/*
 * colours
 */

@font-face {
    font-family: "Evil Genius";
    src: url(../evilgeniusbb_reg.ttf);
}

@font-face {
    font-family: "Evil Genius Bold";
    src: url(../evilgeniusbb_bld.ttf);
}

body {
  font-family: "Evil Genius";
  background-color: #001333;
  background: -moz-linear-gradient(center top, #001333, #0f2855) repeat scroll 0 0 #0f2855;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#001333), to(#0f2855));
}

body > header h1 {
  color: white;
  text-shadow: 0 2px 3px #000;
}

.bar {
  background-color: #0052c8;
  background: -moz-linear-gradient(center top, #0052c8, #003d95) repeat scroll 0 0 #0052c8;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0052c8), to(#003d95));
  border-top: 1px solid #0069ff;
  border-bottom: 1px solid #000;
  color: white;
  text-shadow: 0 1px 0 #003399;
}

.panel, .dialog {
  background-color: #EEE;
  background: -moz-linear-gradient(center top , #FAFAFC, #EEE) repeat scroll 0 0 #EEE;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFC), to(#EEE));
  border: 1px solid #AAA;
  text-shadow: 0 1px 0 #CCC;
}

.clues.paper {
  background: url("../images/note-paper.gif") 0 32% repeat scroll;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.35);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.35);
  box-shadow: 0 3px 7px rgba(0,0,0,0.35);  
  border: 2px solid rgba(0,0,0,0.25);
  border-left-width: 8px;
}

.clues.inset {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom-color: rgba(250,250,250,0.1);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  color: #eeeffe;
  background-color: rgba(32,16,48,0.2);
  text-shadow: 0 2px 0 rgba(0,0,0,0.65);
}

.clues ul li {
  border-color: #223;
}

.info {
  color: #EEE;
  text-shadow: 0 1px 1px #000;
  text-align: center;
}

#navigation h1 {
  color: #fefefe;
  text-shadow: 0 1px 1px #000;
}

#main .colleft {
  background-color: #001e4c;
}

#main .colleft .content {
  border-left: 1px solid #0069ff;
}


/* 
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

}

.centerbox {
  background:#E5ECF9;
  border: 1px solid black;
  border-radius: 2px;
}